@model FeedGoogleShoppingModel

<div class="card-body">
    @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
    <div class="card card-default">
        <div class="card-body">
            @T("Plugins.Feed.GoogleShopping.GeneralInstructions")
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ProductPictureSize_OverrideForStore" asp-input="ProductPictureSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductPictureSize" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductPictureSize" />
                    <span asp-validation-for="ProductPictureSize"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="PassShippingInfoWeight_OverrideForStore" asp-input="PassShippingInfoWeight" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="PassShippingInfoWeight" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PassShippingInfoWeight" />
                    <span asp-validation-for="PassShippingInfoWeight"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="PassShippingInfoDimensions_OverrideForStore" asp-input="PassShippingInfoDimensions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="PassShippingInfoDimensions" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PassShippingInfoDimensions" />
                    <span asp-validation-for="PassShippingInfoDimensions"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="PricesConsiderPromotions_OverrideForStore" asp-input="PricesConsiderPromotions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="PricesConsiderPromotions" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PricesConsiderPromotions" />
                    <span asp-validation-for="PricesConsiderPromotions"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="CurrencyId_OverrideForStore" asp-input="CurrencyId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="CurrencyId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="CurrencyId" asp-items="Model.AvailableCurrencies" />
                    <span asp-validation-for="CurrencyId"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="DefaultGoogleCategory_OverrideForStore" asp-input="DefaultGoogleCategory" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="DefaultGoogleCategory" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="DefaultGoogleCategory" asp-items="Model.AvailableGoogleCategories" />
                    <span asp-validation-for="DefaultGoogleCategory"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="PassCheckoutLinkTemplate_OverrideForStore" asp-input="PassCheckoutLinkTemplate" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="PassCheckoutLinkTemplate" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PassCheckoutLinkTemplate" />
                    <span asp-validation-for="PassCheckoutLinkTemplate"></span>
                </div>
            </div>
            
            <hr />
            <h4>Azure Blob Storage Settings</h4>
            <p class="text-muted">Configure Azure Blob Storage to store the Google Shopping feed XML file persistently across site updates.</p>

            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="UseAzureBlobStorage_OverrideForStore" asp-input="UseAzureBlobStorage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="UseAzureBlobStorage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="UseAzureBlobStorage" />
                    <span asp-validation-for="UseAzureBlobStorage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AzureBlobConnectionString_OverrideForStore" asp-input="AzureBlobConnectionString" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AzureBlobConnectionString" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AzureBlobConnectionString" />
                    <span asp-validation-for="AzureBlobConnectionString"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AzureBlobContainerName_OverrideForStore" asp-input="AzureBlobContainerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AzureBlobContainerName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AzureBlobContainerName" />
                    <span asp-validation-for="AzureBlobContainerName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AzureBlobEndPoint_OverrideForStore" asp-input="AzureBlobEndPoint" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AzureBlobEndPoint" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AzureBlobEndPoint" />
                    <span asp-validation-for="AzureBlobEndPoint"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AzureBlobAppendContainerName_OverrideForStore" asp-input="AzureBlobAppendContainerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AzureBlobAppendContainerName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AzureBlobAppendContainerName" />
                    <span asp-validation-for="AzureBlobAppendContainerName"></span>
                </div>
            </div>
            <hr />

            @if (Model.GeneratedFiles.Count > 0)
            {
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="GeneratedFiles" />
                    </div>
                    <div class="col-md-9">
                        @for (int i = 0; i <= Model.GeneratedFiles.Count - 1; i++)
                        {
                            var generatedFile = Model.GeneratedFiles[i];
                            @generatedFile.StoreName <text>-</text> <a href="@generatedFile.FileUrl" target="_blank">@generatedFile.FileUrl</a>
                            if (i != Model.GeneratedFiles.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <button type="submit" name="save" class="btn btn-primary"><i class="far fa-save"></i>@T("Admin.Common.Save")</button>
                    <button type="submit" name="generate" class="btn btn-success">@T("Plugins.Feed.GoogleShopping.Generate")</button>
                </div>
            </div>
        </div>
    </div>
</div>