@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="Jotform" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <p>
                        @Html.Raw(T("Plugins.Widgets.Jotform.Description"))
                    </p>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="@Model.Enabled_OverrideForStore" asp-input="@Model.Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="Enabled" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Enabled" />
                            <span asp-validation-for="Enabled"></span>
                        </div>
                    </div>
                    <nop-nested-setting asp-for="Enabled">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="@Model.EmbedCode_OverrideForStore" asp-input="@Model.EmbedCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EmbedCode" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="EmbedCode" asp-required="true" />
                                <span asp-validation-for="EmbedCode"></span>
                            </div>
                        </div>
                    </nop-nested-setting>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>